.scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    background-color: #FDCD3B;
  }
  
  .showButton {
    opacity: 1;
    visibility: visible;
  }
  